/* You can add global styles to this file, and also import other style files */
body{
   text-align: center;
   background-color: rgb(29, 53, 30);
}

.fz{
   font-size: 50px;
   font-weight: 700;
   letter-spacing: 10px;
}